body {
    background-color:  rgb(114, 148, 135);
    font-family: "Helvetica new", Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    max-width: 100%;
}

article {
    width: 50%;
    padding: 2%;
}

img {
    max-width: 60%;
}

h1 {
    background-color: rgb(8, 112, 52);
    color: black;
}

main .secondClass {
    background-color: blueviolet;
    font-weight: bold;
}

main.firstClass {
    border-top: 2px dotted purple;
    background-color: white;